<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2073437771-7lj3pullsep8uqobm10ipgt57rlg5d41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2073437771-7lj3pullsep8uqobm10ipgt57rlg5d41</string>
	<key>API_KEY</key>
	<string>AIzaSyC-DCOI7bw4rGEMFsGZSoeOj0UFgnw8VHo</string>
	<key>GCM_SENDER_ID</key>
	<string>2073437771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>login-6d41a</string>
	<key>STORAGE_BUCKET</key>
	<string>login-6d41a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2073437771:ios:50df432777337e9ae84fce</string>
</dict>
</plist>